body {
    background-color: #242121;
}



#highscores{
    font-size: medium;
    color: #B8D1D9;
    text-align: center;
    padding-top: 30px;
    font-weight: bolder;
    padding-bottom: 30px;
}

.hstitle {
    letter-spacing: 2px;
    text-align: center;
    padding: auto;
    color: #B8D1D9;
    font-family: 'Press Start 2P';
    font-size: 30px;
    padding-top: 170px;
    padding-bottom: 10px;
}


a:link {
    text-decoration: none; 
    font-weight: bold;
    font-family: 'Press Start 2P';
    color: #B8D1D9;
    letter-spacing: 2px;
    font-size: 8px;
}

a:visited {
    text-decoration: none;
    font-family: 'Press Start 2P';
    color: #B8D1D9;
}
  
a:hover {
    font-family: 'Press Start 2P';
    text-decoration: none;
    color: #E65C17;
    padding: 2px;
}

#timeCounter {
    text-align: center;
    font-size: larger;
    font-weight: 500;
    font-family: 'Press Start 2P';
    color: #E65C17;
    margin-top: 20;

}

h1, h2 {
    letter-spacing: 2px;
    text-align: center;
    padding: auto;
    color: #B8D1D9;
    font-family: 'Press Start 2P';
    font-size: 30px;
    padding-top: 170px;
    padding-bottom: 10px;
    }

p, li {
    font-size: 13px;
    font-family: 'Saira', sans-serif;  
    display: flex; 
    justify-content: center;   
    text-align: center;
    color: #cccccc;
    letter-spacing: 2px;
}

.keepinmind {
    font-style: oblique;
}

.buttonsubmit {
    text-align: center;
    padding-top: 30px;
}

#startbutton {
    background-color: #397B80;
    border: none;
    color: white;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Press Start 2P';

}

#startbutton:hover {
    background-color: #E65C17;
    font-style: oblique;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

#containerQuiz {
    background-color: #E65C17;
    width: 750px;
  
}

#questions {
    font-size: 30px;
    font-weight: bold;
    color: rgb(220, 220, 220);
    font-family: 'Saira', sans-serif;    
    padding: 10px 10px 10px 10px;

}

.quizBtn {
    padding-top: 60px;
    background-color: #242121; 
    color: white; 
    font-size:larger;
    padding: 14px 14px 14px 14px;
    width: 100%; 
    display: block; 
    text-align: left;
    font-weight: bolder;
    border-color: #8a8a8a;
    border-color: #E65C17;
    border-style: dotted;
    
}

.quizBtn:hover {
    background-color: #cdcdcd;
    font-style: oblique;
    color: rgb(37, 38, 37);
}

.quizBtn .correct{
    padding-top: 60px;
    background-color: green; 
    color: white; 
    font-size:larger;
    padding: 10px 10px 10px 10px;
    width: 100%; 
    display: block; 
    text-align: left;
}

.quizBtn #wrong{
    padding-top: 60px;
    background-color: #e61755; 
    color: white; 
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    width: 100%; 
    display: block; 
    text-align: left;
}

.hide {
    display: none;
}

.timeScore {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #ffff00;
    padding: 2px;
    font-size: larger;
}

.wrong{
    padding-top: 60px;
    background-color: #e61755; 
    color: white; 
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    width: 100%; 
    display: block; 
    text-align: left;
}